-
  var options = {
    title: "Underscore.js",
    version: "1.8.3",
    libUrl: "https://github.com/jashkenas/underscore",
    licenseUrl: "https://github.com/PolishDocs/Underscore.js-PL",
    colorPrimary: "blue", // colors from https://getmdl.io/customize/
    colorSecondary: "cyan" // colors from https://getmdl.io/customize/
  }
