-
  var options = {
    title: "Docs-StarterPack",
    version: "1.0.0",
    libUrl: "https://github.com/PolishDocs/Docs-StarterPack/",
    licenseUrl: "https://github.com/PolishDocs/Docs-StarterPack/LICENSE.md",
    colorPrimary: "blue",
    colorSecondary: "cyan"
  }
