-
  var options = {
    title: "Underscore.js",
    version: "1.8.3",
    libUrl: "https://github.com/jashkenas/underscore",
    licenseUrl: "https://github.com/PolishDocs/Underscore.js-PL/LICENSE.md",
    colorPrimary: "blue",
    colorSecondary: "cyan"
  }
