h5 map
.info
  pre: code _.map(list, iteratee, [context]);
  span.alias: em
    | (Alias:&nbsp;
    strong collect
    |)
p Produces a new array of values by mapping each value in list through a transformation function (iteratee). The iteratee is passed three arguments: the value, then the index (or key) of the iteration, and finally a reference to the entire list.

pre
  code
    | _.map([1, 2, 3], function(num){ return num * 3; });
    | // returns [3, 6, 9]
    | #{' '}
    | _.map({one: 1, two: 2, three: 3}, function(num, key){ return num * 3; });
    | // returns [3, 6, 9]
    | #{' '}
    | _.map([[1, 2], [3, 4]], _.first);
    | // returns [1, 3]
